workflows/g9sTBax3U1iJNT8J.json
{
  "id": "g9sTBax3U1iJNT8J",
  "name": "Generate video from prompt using Vertex AI Veo 3 and upload to Google Drive",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5cedc3de-6221-4d7e-a6c8-82f4cb9cf0e9",
              "name": "PROJECT_ID",
              "type": "string",
              "value": "<YOUR_PROJECT_ID>"
            },
            {
              "id": "90019751-e2d5-4764-9bf9-e13916dcc528",
              "name": "MODEL_VERSION",
              "type": "string",
              "value": "veo-3.0-generate-preview"
            },
            {
              "id": "67ab205c-82b3-4263-99c4-c906a0ca6ae9",
              "name": "LOCATION",
              "type": "string",
              "value": "<YOUR_LOCATION>"
            },
            {
              "id": "413415fb-60c5-4d0d-ac45-1e6178a55227",
              "name": "TEXT_PROMPT",
              "type": "string",
              "value": "={{ $json.Prompt }}"
            },
            {
              "id": "91d09e20-87db-474f-91e1-6ed58b96dae5",
              "name": "IMAGE_COUNT",
              "type": "string",
              "value": "1"
            },
            {
              "id": "17954335-b96b-4813-9c4a-20817d675448",
              "name": "API_ENDPOINT",
              "type": "string",
              "value": "<YOUR_LOCATION>-aiplatform.googleapis.com"
            },
            {
              "id": "bf0910e1-b757-4852-9341-a7792161f89b",
              "name": "ACCESS_TOKEN",
              "type": "string",
              "value": "={{ $json.YOUR_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9f66e6be-6de0-4e2c-ad5e-20059f4a0d85",
      "name": "Setting",
      "type": "n8n-nodes-base.set",
      "position": [
        672,
        400
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "response.videos[0].bytesBase64Encoded",
        "options": {}
      },
      "id": "252be387-d2c6-4618-9d44-326baa0a1d6f",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        1520,
        400
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "formTitle": "Google Vertex AI",
        "formDescription": "Google Vertex",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Prompt",
              "requiredField": true
            },
            {
              "fieldLabel": "YOUR_ACCESS_TOKEN",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "ab04d16e-4727-49bb-b868-28db703b1b0f",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        448,
        400
      ],
      "webhookId": "1c041721-9e17-4486-927e-d2de9a113977",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "name": "={{ $('On form submission').item.json.submittedAt }}.mp4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "1tzpmwAWiUGolnKciZvcCghB5obhPoXzL",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1tzpmwAWiUGolnKciZvcCghB5obhPoXzL",
          "cachedResultName": "n8n_VertexAI"
        },
        "options": {}
      },
      "id": "2497f762-8f0a-4a4d-87a2-31d05c62fdee",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1728,
        208
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $json.API_ENDPOINT }}/v1/projects/{{ $json.PROJECT_ID }}/locations/{{ $json.LOCATION }}/publishers/google/models/{{ $json.MODEL_VERSION }}:predictLongRunning",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"endpoint\": \"projects/n8n-project-440404/locations/us-central1/publishers/google/models/veo-3.0-generate-preview\",\n  \"instances\": [\n    {\n      \"prompt\": {{ $json.TEXT_PROMPT }}\n    }\n  ],\n  \"parameters\": {\n    \"aspectRatio\": \"16:9\",\n    \"sampleCount\": 1,\n    \"durationSeconds\": \"8\",\n    \"personGeneration\": \"allow_all\",\n    \"addWatermark\": true,\n    \"includeRaiReason\": true,\n    \"generateAudio\": true\n  }\n}\n",
        "options": {}
      },
      "id": "f2b78a57-403e-47d8-8f48-8af3263077d5",
      "name": "Vertex AI-VEO3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        928,
        400
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Setting').item.json.API_ENDPOINT }}/v1/projects/{{ $('Setting').item.json.PROJECT_ID }}/locations/{{ $('Setting').item.json.LOCATION }}/publishers/google/models/{{ $('Setting').item.json.MODEL_VERSION }}:fetchPredictOperation\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('On form submission').item.json.YOUR_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"operationName\": \"{{ $json.name }}\"\n}\n",
        "options": {}
      },
      "id": "8b5f1887-c001-4d95-ae04-0b9c9dd80dc4",
      "name": "Vertex AI-fetch",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1296,
        400
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "### Setting GCP\n- PROJECT_ID\n- MODEL_VERSION\n- LOCATION\n- IMAGE_COUNT\n- API_ENDPOINT",
        "height": 320
      },
      "id": "61565d47-ee78-4a77-bcf1-0043636a8338",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Veo3\n1. Sends the prompt to the Veo3 using Vertex AI’s predictLongRunning endpoint.\n2. Waits for the video rendering to complete.\n3. Fetches the final result",
        "height": 320,
        "width": 580,
        "color": 4
      },
      "id": "161e051f-9a74-46bd-a2f8-cf32b68279a2",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "id": "ca75a288-5f19-4678-ac5f-cf924843f64a",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        1120,
        400
      ],
      "webhookId": "b263025f-8acf-406b-b3cc-aaaf5b6a4557",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "### Convert to Video file\n\nBase64 Input Field:\n```response.videos[0].bytesBase64Encoded```",
        "height": 320,
        "width": 200,
        "color": 5
      },
      "id": "088bf7c8-bc74-47e5-9ca7-23807c9d5c32",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1472,
        -16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Upload Video to Google Drive",
        "height": 320,
        "width": 180,
        "color": 6
      },
      "id": "091c8fe2-57a9-4f62-949c-84f88b38b91a",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1696,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Accepts a text prompt and a GCP access token via form.\n\n\n",
        "height": 320,
        "width": 230,
        "color": 7
      },
      "id": "25da0c72-2dd8-47f1-93fc-8e116b5c3768",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Workflow Process\n![Alt text](https://drive.google.com/thumbnail?id=1L9KKkuS0hk5LW9hpGJ_FB9giKYFZpmy4&sz=w1000)",
        "height": 400,
        "width": 660,
        "color": 7
      },
      "id": "14aa3de1-ece7-4272-a52e-0f0f72197f77",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Output\n![Alt text](https://drive.google.com/thumbnail?id=1Biq2vhbzaFLya1ZsF8PhGL1RRta7XkMK&sz=w1000)",
        "height": 400,
        "width": 580,
        "color": 7
      },
      "id": "4e8c2cf8-0ef1-4da0-930e-54854062e36d",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### How to get GCP Access Token\n\nUse this command in your VM/Cloud Shell:\n\n```bash\ngcloud auth print-access-token\n",
        "height": 400,
        "width": 230,
        "color": 7
      },
      "id": "120dcf68-1a9b-447d-a530-1e2264eb9b8f",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1728,
        464
      ],
      "id": "0ec28e1e-084c-4d1b-8d0a-e72b9f97634d",
      "name": "Send a video",
      "webhookId": "b3ef3bd6-d47f-466f-a59d-169676019d44",
      "credentials": {
        "telegramApi": {
          "id": "bRtnxneEgvSWdsIe",
          "name": "Ассистент по маркетингу"
        }
      }
    }
  ],
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Vertex AI-fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setting": {
      "main": [
        [
          {
            "node": "Vertex AI-VEO3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI-VEO3": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertex AI-fetch": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Setting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 0,
  "versionId": "0e16c883-7951-4e35-a91f-795d3bc6bb29",
  "owner": {
    "type": "personal",
    "projectId": "4u7zt7bOYo5vK3bD",
    "projectName": "Sali Costa <withabakirov@gmail.com>",
    "personalEmail": "withabakirov@gmail.com"
  },
  "parentFolderId": null,
  "isArchived": false
}