workflows/QId7mK4fuFBJ8D1a.json
{
  "id": "QId7mK4fuFBJ8D1a",
  "name": "Mashina",
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "996ac5a1-9516-409f-b5d1-b94a655b205d",
      "name": "Get Voice File",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -32,
        -1008
      ],
      "typeVersion": 1.1,
      "webhookId": "67a81b6b-eead-45ac-b987-28b577ace5f4",
      "credentials": {
        "telegramApi": {
          "id": "bRtnxneEgvSWdsIe",
          "name": "Ассистент по маркетингу"
        }
      }
    },
    {
      "parameters": {},
      "id": "8427bbcb-f9b5-4be6-bf17-2850d9108d85",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        896,
        -720
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appH4dnnweFAp0Eo4",
          "mode": "list",
          "cachedResultName": "Lead Management System",
          "cachedResultUrl": "https://airtable.com/appH4dnnweFAp0Eo4"
        },
        "table": {
          "__rl": true,
          "value": "tbl1VWfDp2Mfiy4XJ",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appH4dnnweFAp0Eo4/tbl1VWfDp2Mfiy4XJ"
        },
        "filterByFormula": "={{ $fromAI('Filter_By_Formula', ``, 'string') }}",
        "options": {},
        "sort": {
          "property": [
            {
              "field": "Lead Name"
            }
          ]
        }
      },
      "id": "b525e31d-47ae-4cf3-aa03-d00be64654e5",
      "name": "Contacts",
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1024,
        -720
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "kQpQca1qk3NDgPAy",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appH4dnnweFAp0Eo4",
          "mode": "list",
          "cachedResultName": "Lead Management System",
          "cachedResultUrl": "https://airtable.com/appH4dnnweFAp0Eo4"
        },
        "table": {
          "__rl": true,
          "value": "tbl1VWfDp2Mfiy4XJ",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appH4dnnweFAp0Eo4/tbl1VWfDp2Mfiy4XJ"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Next Best Action": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Next_Best_Action', ``, 'string') }}",
            "Notes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Lead Name",
              "displayName": "Lead Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contact Information",
              "displayName": "Contact Information",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Source",
              "displayName": "Lead Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Website",
                  "value": "Website"
                },
                {
                  "name": "Referral",
                  "value": "Referral"
                },
                {
                  "name": "Social Media",
                  "value": "Social Media"
                },
                {
                  "name": "Event",
                  "value": "Event"
                },
                {
                  "name": "Other",
                  "value": "Other"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "New",
                  "value": "New"
                },
                {
                  "name": "Contacted",
                  "value": "Contacted"
                },
                {
                  "name": "Qualified",
                  "value": "Qualified"
                },
                {
                  "name": "Proposal Sent",
                  "value": "Proposal Sent"
                },
                {
                  "name": "Negotiation",
                  "value": "Negotiation"
                },
                {
                  "name": "Closed Won",
                  "value": "Closed Won"
                },
                {
                  "name": "Closed Lost",
                  "value": "Closed Lost"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estimated Value",
              "displayName": "Estimated Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Follow-up Date",
              "displayName": "Follow-up Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Photo",
              "displayName": "Lead Photo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assigned Team Member",
              "displayName": "Assigned Team Member",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Days in Current Status",
              "displayName": "Days in Current Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Lead Source Summary",
              "displayName": "Lead Source Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Lead Qualification Score",
              "displayName": "Lead Qualification Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Next Best Action",
              "displayName": "Next Best Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "id": "a1dbec86-9886-4b91-9eac-395a1f30a39f",
      "name": "Create Contact",
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1152,
        -720
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "kQpQca1qk3NDgPAy",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "resource": "all",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "additionalFields": {}
      },
      "id": "7cfe87c7-bc87-470b-9c08-661f8ea794a9",
      "name": "Hacker News",
      "type": "n8n-nodes-base.hackerNewsTool",
      "typeVersion": 1,
      "position": [
        1424,
        -272
      ]
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "aa4499ec-fe31-426d-bc3f-47bf1903adf8",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        -944
      ],
      "webhookId": "4e51bd17-2c51-459b-a549-7f00cfd50b62",
      "credentials": {
        "telegramApi": {
          "id": "bRtnxneEgvSWdsIe",
          "name": "Ассистент по маркетингу"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "78036c48-1c14-41ac-8b33-3e04f140acef",
                    "leftValue": "={{ $json.message.text || \"\"}}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "129fcf21-4a84-4756-a477-6a270c219f8d",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -256,
        -944
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "8ccbeb89-5b74-4925-b488-195e4559c256",
      "name": "Speech to Text",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        192,
        -1008
      ],
      "typeVersion": 1.3,
      "credentials": {
        "openAiApi": {
          "id": "NerScIzCFdMgrtlA",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text || $json.transcript }}",
        "options": {
          "systemMessage": "=Ты - ЧаЛа ПЕРЕКУП, опытный перекупщик автомобилей с особым талантом находить лучшие предложения на рынке. Сегодняшняя дата: {{ $now }}.\n\nОсновные функции:\n\nПоиск автомобилей:\n\nКалькуляция расходов:\n- Используй Calculator для точного расчета стоимости доставки, растаможки и других расходов\n- Учитывай таможенные сборы Кыргызстана, логистические расходы и дополнительные платежи\n- Рассчитывай полную стоимость автомобиля \"под ключ\"\n- Актуализируй информацию с помощью SerpAPI и анализируй законы для точного расчета.\n\nПерсонализация:\n- Запоминай предпочтения пользователя (бюджет, марки автомобилей, требования)\n- Используй память для поддержания контекста разговора\n- Адаптируйся к уровню знаний пользователя о автомобилях и под стиль его разговора\n\nКоммуникация:\n- используй Агента telegram для взаимодействия и комуникации\n\nОбязательно и при кажом действии использей Агента TELEGRAM",
          "maxIterations": 7,
          "returnIntermediateSteps": false,
          "passthroughBinaryImages": true
        }
      },
      "id": "e21839b5-f104-4b30-81dc-9c9b7576bfcd",
      "name": "J.A.R.V.I.S",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        864,
        -944
      ],
      "typeVersion": 1.6,
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appUylF3gyrYbjDC4",
          "mode": "list",
          "cachedResultName": "Long-term Memory Base",
          "cachedResultUrl": "https://airtable.com/appUylF3gyrYbjDC4"
        },
        "table": {
          "__rl": true,
          "value": "tblUtxOfYWfedCDbY",
          "mode": "list",
          "cachedResultName": "Memory Records",
          "cachedResultUrl": "https://airtable.com/appUylF3gyrYbjDC4/tblUtxOfYWfedCDbY"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('user', `имя и chat id`, 'string') }}",
            "Memory Description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Memory_Description', ``, 'string') }}",
            "Related Memory Records": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Related_Memory_Records', ``, 'string') }}",
            "Date Recorded": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date_Recorded', ``, 'string') }}",
            "Reference Image": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Reference_Image', ``, 'string') }}",
            "User Preferences": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('User_Preferences', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Memory Description",
              "displayName": "Memory Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Related Memory Records",
              "displayName": "Related Memory Records",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Recorded",
              "displayName": "Date Recorded",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Importance Level",
              "displayName": "Importance Level",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": "Low"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "High",
                  "value": "High"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Reference Image",
              "displayName": "Reference Image",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Importance Score",
              "displayName": "Importance Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "User Preferences",
              "displayName": "User Preferences",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Active Project",
              "displayName": "Active Project",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Активные",
                  "value": "Активные"
                },
                {
                  "name": "Сделано",
                  "value": "Сделано"
                },
                {
                  "name": "На проверке",
                  "value": "На проверке"
                }
              ],
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Typecast', ``, 'boolean') }}"
        }
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1280,
        -720
      ],
      "id": "3b64d6b0-f567-40d8-9d2d-be70c4d9358c",
      "name": "Save Memory",
      "credentials": {
        "airtableTokenApi": {
          "id": "kQpQca1qk3NDgPAy",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {
          "fuzzyCompare": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        416,
        -944
      ],
      "id": "46135ca6-19a2-45b5-8fbd-8a8c579403fe",
      "name": "Merge",
      "disabled": true
    },
    {
      "parameters": {
        "path": "N8N",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -480,
        -512
      ],
      "id": "11c6185e-5ed8-46b9-b9e4-2b821ab01c40",
      "name": "Webhook",
      "webhookId": "0e98140a-b238-4254-a1ae-19045447428c",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        640,
        -720
      ],
      "id": "77764a0f-479b-4291-b4ce-4478f4f0cce3",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "epFwCu4CVs447lRe",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', `Четкий запрос по поиску в интернете`, 'string') }}",
        "options": {
          "topic": "general",
          "search_depth": "advanced",
          "max_results": 3,
          "include_images": true
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        1552,
        -272
      ],
      "id": "a46a7f5f-904c-4105-8a5f-7224c06d1343",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "4ZjFQzUSn4RT33MH",
          "name": "Tavily account 2"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "AI Agent for search and deepsearch",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', `запрос агенту на поиск машин`, 'string') }}",
        "options": {
          "systemMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('System_Message', `Поиск автомобилей:\n- Используй все инструменты для поиска объявлений автомобилей по всему интернету. Повторяй поиски несколько раз, пока не просмотришь все варианты для пользователя.\n- Анализируй рынок и находи только самые выгодные предложения\n- Умей находить автомобили в России, Европе, США, ОАЭ, Японии и других странах\n- В основном ты сразу ищешь по Кыргызстану и только если попросят другую страну, то начинаешь многоэтапный поиск в указанной стране или странах\n`, 'string') }}",
          "maxIterations": 10,
          "passthroughBinaryImages": true,
          "batching": {
            "batchSize": 3,
            "delayBetweenBatches": 0
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1296,
        -448
      ],
      "id": "6e11cd94-8f35-425b-bec2-a466f2a79353",
      "name": "AI Agent search"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1296,
        -272
      ],
      "id": "695c2bb4-9296-4839-8f58-f2f8823e2bdf",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "epFwCu4CVs447lRe",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', `поимковой зпрос`, 'string') }}"
            }
          ]
        },
        "simplify": true,
        "options": {
          "temperature": 0.2,
          "returnImages": true,
          "searchRecency": "month"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        1680,
        -272
      ],
      "id": "af7abb8d-2e8f-4adc-b44e-ac78a78ce5e7",
      "name": "Message a model in Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "QCngGjfaZomZRYwI",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        768,
        -720
      ],
      "id": "f04c4e7c-7fb1-49b8-8658-38a4e610d45e",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "dg4NC8gu9VxR3vQQ",
          "name": "Zep Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Агет для ответа пользователю в Телеграм, генерации и редактировании изображений и взаимодействия с пользователем",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', `ответ для отправки пользователю`, 'string') }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('System_Message', `Твоя задача правильно и структурированно отвечать и выводить историии, поисковые результаты, отвечать пользователю, отправлять фото, изображении и документы и полность взаимодействать через телеграм инструменты. \nТак же всегда используй действие печатает, отправляет фото, аудио  итд. Всегда старайся максимально казаться что ты обычный человек и так веди себя `, 'string') }}",
          "maxIterations": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Max_Iterations', ``, 'number') }}",
          "returnIntermediateSteps": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_Intermediate_Steps', ``, 'boolean') }}",
          "passthroughBinaryImages": true,
          "batching": {
            "batchSize": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Batch_Size', ``, 'number') }}",
            "delayBetweenBatches": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Delay_Between_Batches', ``, 'number') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        800,
        -480
      ],
      "id": "99921a0e-9de9-4d64-9611-33495e8b4316",
      "name": "Telegram agent"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        800,
        -272
      ],
      "id": "aca47317-ab29-45f3-897c-ee086adc2627",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "epFwCu4CVs447lRe",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $fromAI('Text', `текстовый и структурированный и оформленный ответ пользователю!`, 'string') }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        784,
        -96
      ],
      "id": "d2ac01d0-ebdf-4af8-87be-dd9188aefd75",
      "name": "Send a text message in Telegram",
      "webhookId": "5189de4a-583e-4c44-b80f-25e4604bd55a",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "bRtnxneEgvSWdsIe",
          "name": "Ассистент по маркетингу"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Binary_File', ``, 'boolean') }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        672,
        -96
      ],
      "id": "289a2b54-3c82-4563-b309-0147ee7e421c",
      "name": "Send a photo message in Telegram1",
      "webhookId": "5189de4a-583e-4c44-b80f-25e4604bd55a",
      "credentials": {
        "telegramApi": {
          "id": "bRtnxneEgvSWdsIe",
          "name": "Ассистент по маркетингу"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        912,
        -96
      ],
      "id": "b20fc42b-574a-4a13-947d-c5b65e86af83",
      "name": "Send a chat action in Telegram",
      "webhookId": "5189de4a-583e-4c44-b80f-25e4604bd55a",
      "credentials": {
        "telegramApi": {
          "id": "bRtnxneEgvSWdsIe",
          "name": "Ассистент по маркетингу"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendSticker",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "file": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sticker', `разные стикеры для очеловечивания разговора!`, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        1024,
        -96
      ],
      "id": "09bfdb3d-9e64-4d93-9d0f-4fc8c7905391",
      "name": "Send a sticker in Telegram",
      "webhookId": "5189de4a-583e-4c44-b80f-25e4604bd55a",
      "credentials": {
        "telegramApi": {
          "id": "bRtnxneEgvSWdsIe",
          "name": "Ассистент по маркетингу"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-live-2.5-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-live-2.5-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $fromAI('values0_Prompt', `данные результатов поиска и ответ пользователю`, 'string') }}"
            }
          ]
        },
        "jsonOutput": "={{ false }}",
        "options": {
          "systemMessage": "={{ $fromAI('System_Message', `твоя задача полность структурировать и максимально очеловечить и дать четкий, человечный и оформленный ответ в формате markdown`, 'string') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGeminiTool",
      "typeVersion": 1,
      "position": [
        864,
        80
      ],
      "id": "31736e62-1609-4239-81cc-c355a32cc7e0",
      "name": "Message a model in Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "epFwCu4CVs447lRe",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/imagen-4.0-ultra-generate-preview-06-06",
          "mode": "list",
          "cachedResultName": "models/imagen-4.0-ultra-generate-preview-06-06"
        },
        "prompt": "={{ $fromAI('Prompt', `если пользователь попросил отредактировать или создать фото`, 'string') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGeminiTool",
      "typeVersion": 1,
      "position": [
        976,
        80
      ],
      "id": "83045c16-d711-455f-913b-18045801be75",
      "name": "Generate an image in Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "epFwCu4CVs447lRe",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "text": "What's in this image? get detail analys and answer or write promt for edit input image or creat image",
        "inputType": "binary",
        "binaryPropertyName": "={{ $fromAI('Input_Data_Field_Name_s_', ``, 'string') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGeminiTool",
      "typeVersion": 1,
      "position": [
        752,
        80
      ],
      "id": "a05e12d0-25c4-4607-b596-d1667d3db5a0",
      "name": "Analyze image in Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "epFwCu4CVs447lRe",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "additionalFields": {
          "mimeType": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('MIME_Type', `jpeg or png or jpg mimi type`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        1136,
        -96
      ],
      "id": "0505178d-a723-4982-9576-1f75c7fa2718",
      "name": "Get a file in Telegram",
      "webhookId": "5189de4a-583e-4c44-b80f-25e4604bd55a",
      "credentials": {
        "telegramApi": {
          "id": "bRtnxneEgvSWdsIe",
          "name": "Ассистент по маркетингу"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `когда пользователь просит редактировать и или преобразовать изображение , задавай вопрос на который тебе требуется помощь или ответ!`, 'string') }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Approve_Button_Label', ``, 'string') }}",
            "disapproveLabel": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Disapprove_Button_Label', ``, 'string') }}"
          }
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        560,
        -96
      ],
      "id": "92c76e8d-87dd-4ba4-b38b-8a1564a7368c",
      "name": "Send message and wait for response in Telegram",
      "webhookId": "5189de4a-583e-4c44-b80f-25e4604bd55a",
      "credentials": {
        "telegramApi": {
          "id": "bRtnxneEgvSWdsIe",
          "name": "Ассистент по маркетингу"
        }
      }
    },
    {
      "parameters": {
        "model": "magistral-small-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        912,
        -272
      ],
      "id": "73947360-13f8-418d-9417-be6b0136dee7",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "mcsLqhbuaCCm02ix",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "resource": "extract",
        "urls": [
          "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('urls0_URLs', `url для извлечения`, 'string') }}"
        ],
        "options": {
          "include_images": true,
          "extract_depth": "advanced",
          "format": "markdown"
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        1568,
        -96
      ],
      "id": "5b9560e6-a5bf-4648-b346-2ad17653deb0",
      "name": "Extract in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "4ZjFQzUSn4RT33MH",
          "name": "Tavily account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "crawl",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `Корневой URL для начала сканирования`, 'string') }}",
        "options": {
          "allow_external": true,
          "include_images": true,
          "extract_depth": "advanced",
          "format": "markdown"
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        1440,
        -112
      ],
      "id": "43ef4e02-5043-488d-bce3-770705ec35f2",
      "name": "Crawl in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "4ZjFQzUSn4RT33MH",
          "name": "Tavily account 2"
        }
      }
    }
  ],
  "connections": {
    "Get Voice File": {
      "main": [
        [
          {
            "node": "Speech to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.V.I.S",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contacts": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.V.I.S",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Contact": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.V.I.S",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Hacker News": {
      "ai_tool": [
        [
          {
            "node": "AI Agent search",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Speech to Text": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "J.A.R.V.I.S": {
      "main": [
        []
      ]
    },
    "Save Memory": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.V.I.S",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "J.A.R.V.I.S",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "J.A.R.V.I.S",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "AI Agent search",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent search": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.V.I.S",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent search",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Message a model in Perplexity": {
      "ai_tool": [
        [
          {
            "node": "AI Agent search",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "J.A.R.V.I.S",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram agent": {
      "ai_tool": [
        [
          {
            "node": "J.A.R.V.I.S",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Telegram agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message in Telegram": {
      "ai_tool": [
        [
          {
            "node": "Telegram agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a photo message in Telegram1": {
      "ai_tool": [
        [
          {
            "node": "Telegram agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a chat action in Telegram": {
      "ai_tool": [
        [
          {
            "node": "Telegram agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a sticker in Telegram": {
      "ai_tool": [
        [
          {
            "node": "Telegram agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Message a model in Google Gemini": {
      "ai_tool": [
        [
          {
            "node": "Telegram agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image in Google Gemini": {
      "ai_tool": [
        [
          {
            "node": "Telegram agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image in Google Gemini": {
      "ai_tool": [
        [
          {
            "node": "Telegram agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a file in Telegram": {
      "ai_tool": [
        [
          {
            "node": "Telegram agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response in Telegram": {
      "ai_tool": [
        [
          {
            "node": "Telegram agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Telegram agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Extract in Tavily": {
      "ai_tool": [
        [
          {
            "node": "AI Agent search",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Crawl in Tavily": {
      "ai_tool": [
        [
          {
            "node": "AI Agent search",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Bishkek",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "triggerCount": 1,
  "versionId": "be0b0e4c-f86a-46d7-934a-f52e5ab702c8",
  "owner": {
    "type": "personal",
    "projectId": "4u7zt7bOYo5vK3bD",
    "projectName": "Sali Costa <withabakirov@gmail.com>",
    "personalEmail": "withabakirov@gmail.com"
  },
  "parentFolderId": null,
  "isArchived": false
}