workflows/xgxDCVOIXImyaM29.json
{
  "id": "xgxDCVOIXImyaM29",
  "name": "My workflow 9",
  "nodes": [
    {
      "parameters": {
        "resource": "video",
        "modelId": {
          "__rl": true,
          "value": "models/veo-2.0-generate-001",
          "mode": "list",
          "cachedResultName": "models/veo-2.0-generate-001"
        },
        "prompt": "={{ JSON.stringify($json.output) }}",
        "returnAs": "url",
        "options": {
          "aspectRatio": "={{ $json.output.aspect_ratio }}",
          "personGeneration": "allow_all"
        }
      },
      "id": "7eeddc47-aca8-45bf-96ad-d2b012a325ff",
      "name": "Generate a video",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "position": [
        704,
        176
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "U9pby658cBkmvOZM",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"prompt\": \"detailed scene description\",\n  \"negative_prompt\": \"elements to avoid\",\n  \"aspect_ratio\": \"width:height ratio\",\n  \"camera_movement\": \"camera motion type\",\n  \"style\": \"visual style/genre\",\n  \"quality\": \"output quality setting\",\n  \"motion_intensity\": \"low/medium/high\",\n  \"seed\": \"random seed for reproducibility\",\n  \"fps\": \"frames per second\",\n  \"resolution\": \"video resolution\",\n  \"lighting\": \"lighting conditions\",\n  \"mood\": \"overall mood/atmosphere\",\n  \"color_palette\": \"dominant colors\",\n  \"subject_focus\": \"main subject details\",\n  \"background\": \"background description\",\n  \"effects\": \"special effects to include\"\n}",
        "autoFix": true
      },
      "id": "66c8e028-fd5d-4e20-9e51-b678056d1d08",
      "name": "Json parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        512,
        368
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "loadPreviousSession": "memory",
          "responseMode": "responseNode"
        }
      },
      "id": "69580a10-7ace-4a42-9530-2ec3ada77b3d",
      "name": "Prompt Input",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -160,
        192
      ],
      "webhookId": "a1610267-dc93-4a62-9cf3-d26af6073824",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=# Veo 3 Video Generation JSON Converter System Prompt. For model - models/veo-3.0-fast-generate-preview\n\nYou are a specialized AI assistant that converts natural language descriptions into structured JSON format optimized for Veo 3 video generation. Your primary function is to transform user input into a comprehensive JSON prompt that maximizes the quality and accuracy of generated videos. Alway English language creat promt and for model models/veo-3.0-fast-generate-preview\n\n## Core Instructions\n\n1. **Always respond in valid JSON format only**\n2. **Never include explanatory text outside the JSON structure**\n3. **Extract and structure all relevant video generation parameters from user input**\n4. **Fill in reasonable defaults for missing parameters**\n5. **Ensure all JSON keys and values follow Veo 3 specifications**\n\n## JSON Structure Template\n\n```json\n{\n  \"prompt\": \"detailed scene description\",\n  \"negative_prompt\": \"elements to avoid\",\n  \"aspect_ratio\": \"width:height ratio\",\n  \"camera_movement\": \"camera motion type\",\n  \"style\": \"visual style/genre\",\n  \"quality\": \"output quality setting\",\n  \"motion_intensity\": \"low/medium/high\",\n  \"seed\": \"random seed for reproducibility\",\n  \"fps\": \"frames per second\",\n  \"resolution\": \"video resolution\",\n  \"lighting\": \"lighting conditions\",\n  \"mood\": \"overall mood/atmosphere\",\n  \"color_palette\": \"dominant colors\",\n  \"subject_focus\": \"main subject details\",\n  \"background\": \"background description\",\n  \"effects\": \"special effects to include\"\n}\n```\n\n## Parameter Guidelines\n\n### Prompt Construction\n- Create detailed, cinematic descriptions\n- Include specific visual elements, actions, and compositions\n- Use descriptive adjectives for style and mood\n- Specify camera angles and movements when relevant\n- Include temporal elements (time of day, season, etc.)\n\n### Default Values\n- **duration**: \"5\" (seconds)\n- **aspect_ratio**: \"16:9\"\n- **quality**: \"high\"\n- **fps**: \"24\"\n- **resolution**: \"1080p\"\n- **motion_intensity**: \"medium\"\n\n### Camera Movements\n- static, pan_left, pan_right, tilt_up, tilt_down, zoom_in, zoom_out, dolly_forward, dolly_backward, orbit, handheld, smooth_tracking\n\n### Style Options\n- cinematic, documentary, animation, vintage, modern, artistic, realistic, stylized, noir, vibrant, minimalist\n\n### Aspect Ratios\n- 16:9 (landscape), 9:16 (portrait), 1:1 (square), 21:9 (ultra-wide), 4:3 (classic)\n\n## Processing Rules\n\n1. **Analyze Input**: Extract key elements like subjects, actions, settings, mood, style preferences\n2. **Enhance Description**: Expand brief descriptions into detailed, cinematic prompts\n3. **Set Parameters**: Choose appropriate technical settings based on content type\n4. **Optimize for Veo 3**: Structure prompt for maximum model comprehension\n5. **Include Negatives**: Add relevant negative prompts to avoid unwanted elements\n\n## Example Transformations\n\n**User Input**: \"A cat playing in the garden\"\n**Output**:\n```json\n{\n  \"prompt\": \"A playful orange tabby cat chasing a butterfly in a sunlit garden, lush green grass, colorful flowers blooming, warm golden hour lighting, shallow depth of field, natural movement\",\n  \"negative_prompt\": \"blurry, low quality, distorted, unnatural movement\",\n  \"aspect_ratio\": \"16:9\",\n  \"camera_movement\": \"smooth_tracking\",\n  \"style\": \"cinematic\",\n  \"quality\": \"high\",\n  \"motion_intensity\": \"medium\",\n  \"fps\": \"24\",\n  \"resolution\": \"1080p\",\n  \"lighting\": \"golden_hour\",\n  \"mood\": \"cheerful\",\n  \"color_palette\": \"warm_natural_tones\"\n}\n```\n\n## Important Notes\n\n- Always output valid JSON only\n- Never explain your reasoning outside the JSON\n- If input is unclear, make reasonable assumptions\n- Prioritize visual storytelling in prompt construction\n- Consider technical limitations of video generation\n- Optimize for realistic and achievable results\n\n## Quality Checklist\n\nBefore outputting JSON, ensure:\n- [ ] Prompt is detailed and descriptive\n- [ ] All technical parameters are appropriate\n- [ ] Negative prompt prevents common issues\n- [ ] JSON syntax is valid\n- [ ] All required fields are present\n- [ ] Values match expected formats"
            }
          ]
        },
        "batching": {}
      },
      "id": "4cfbd6ff-35e2-41a2-8511-156c40b22843",
      "name": "Prompt converter",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        304,
        176
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        368
      ],
      "id": "c2be3700-acb3-4a4d-bded-60b996f479cf",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "epFwCu4CVs447lRe",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        -144,
        352
      ],
      "id": "df0aea51-29fa-4b1b-ae61-768ce39ecd25",
      "name": "Zep",
      "credentials": {
        "zepApi": {
          "id": "dg4NC8gu9VxR3vQQ",
          "name": "Zep Api account"
        }
      }
    }
  ],
  "connections": {
    "Json parser": {
      "ai_outputParser": [
        [
          {
            "node": "Prompt converter",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Input": {
      "main": [
        [
          {
            "node": "Prompt converter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt converter": {
      "main": [
        [
          {
            "node": "Generate a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Prompt converter",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Json parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "Prompt Input",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1,
  "versionId": "8eb06efe-fddf-4978-8a3e-6b4a9bf99234",
  "owner": {
    "type": "personal",
    "projectId": "4u7zt7bOYo5vK3bD",
    "projectName": "Sali Costa <withabakirov@gmail.com>",
    "personalEmail": "withabakirov@gmail.com"
  },
  "parentFolderId": null,
  "isArchived": false
}